h1 {
    color:darkgreen;
}

.hello-world {
    background-color: greenyellow;
}

#content1, #content2 {
    background-color: black;
    color: white;
}

li:first-child {
    font-weight: 900;
}

#content1::first-letter {
    font-weight: 900;
}